<a href="https://colab.research.google.com/github/SANGRAMLEMBE/100_days_of_ML/blob/main/100_days_of_ML_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tensor

In [2]:
import numpy as np

0D Tensor / Scaler

In [3]:
a = np.array(4)

In [4]:
a

array(4)

In [5]:
a.ndim

0

1 D Tensor / Vector

In [6]:
b = np.array([1,2,3,4])

In [7]:
b

array([1, 2, 3, 4])

In [8]:
b.ndim

1

In [9]:
b.shape

(4,)

Example of 1D Tensors

2D Tensor / Matrix

In [10]:
matrix  = np.array([[1,2,3],[4,5,6],[7,8,9]])

In [11]:
matrix.ndim

2

In [12]:
matrix.shape

(3, 3)

ND Tensors

In [13]:
 k = np.array([[[1,2,3],[4,5,6],[7,8,9]],[[1,2,3],[4,5,6],[7,8,9]]])

In [14]:
k.ndim

3

In [15]:
k.shape

(2, 3, 3)

In [16]:
import pandas as pd

In [17]:
df = pd.read_csv('/content/processes2.csv')

In [18]:
df

,Unnamed: 0,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,seats,max_power (in bph),Mileage Unit,Mileage,Engine (CC)
0,0,Maruti,2014,450000,145500,Diesel,Individual,Manual,First Owner,5,74.00,kmpl,23.40,1248
1,2,Hyundai,2010,225000,127000,Diesel,Individual,Manual,First Owner,5,90.00,kmpl,23.00,1396
2,4,Hyundai,2017,440000,45000,Petrol,Individual,Manual,First Owner,5,81.86,kmpl,20.14,1197
3,7,Toyota,2011,350000,90000,Diesel,Individual,Manual,First Owner,5,67.10,kmpl,23.59,1364
4,8,Ford,2013,200000,169000,Diesel,Individual,Manual,First Owner,5,68.10,kmpl,20.00,1399
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2090,6245,Maruti,2017,425000,12000,Petrol,Individual,Manual,First Owner,5,67.04,kmpl,23.10,998
2091,6246,Toyota,2014,425000,50000,Diesel,Individual,Manual,First Owner,5,67.06,kmpl,23.59,1364
2092,6249,Maruti,2011,200000,73000,Petrol,Individual,Manual,First Owner,5,46.30,kmpl,19.70,796
2093,6253,Maruti,2017,360000,80000,Petrol,Individual,Manual,First Owner,5,67.04,kmpl,20.51,998
2094,6256,Hyundai,2014,475000,80000,Diesel,Individual,Manual,Second Owner,5,88.73,kmpl,22.54,1396