<a href="https://colab.research.google.com/github/SANGRAMLEMBE/100_days_of_ML/blob/main/Day_16_working_with_json_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# working with Json

In [3]:
pd.read_json('train.json')

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

In [4]:
pd.read_json('https://www.floatrates.com/daily/usd.json')

,aud,cad,chf,cny,eur,gbp,hkd,idr,inr,jpy,...,ves,vuv,wst,xcd,xcg,xpf,yer,zmw,irr,syp
code,AUD,CAD,CHF,CNY,EUR,GBP,HKD,IDR,INR,JPY,...,VES,VUV,WST,XCD,XCG,XPF,YER,ZMW,IRR,SYP
alphaCode,AUD,CAD,CHF,CNY,EUR,GBP,HKD,IDR,INR,JPY,...,VES,VUV,WST,XCD,XCG,XPF,YER,ZMW,IRR,SYP
numericCode,036,124,756,156,978,826,344,360,356,392,...,928,548,882,951,532,953,886,967,364,760
name,Australian Dollar,Canadian Dollar,Swiss Franc,Chinese Yuan,Euro,U.K. Pound Sterling,Hong Kong Dollar,Indonesian Rupiah,Indian Rupee,Japanese Yen,...,Venezuelan Bolivar,Vanuatu vatu,Samoan tala,East Caribbean Dollar,Caribbean guilder,CFP Franc,Yemeni rial,Zambian kwacha,Iranian rial,Syrian pound
rate,1.561529,1.385972,0.82822,7.29595,0.879893,0.749358,7.757937,16852.619589,85.122992,143.273705,...,86.006305,120.663849,2.762194,2.700035,1.790016,105.064008,245.043141,27.97482,41758.888889,12959.655172
date,"Mon, 28 Apr 2025 23:59:00 GMT","Mon, 28 Apr 2025 23:59:00 GMT","Mon, 28 Apr 2025 23:59:00 GMT","Mon, 28 Apr 2025 23:59:00 GMT","Mon, 28 Apr 2025 23:59:00 GMT","Mon, 28 Apr 2025 23:59:00 GMT","Mon, 28 Apr 2025 23:59:00 GMT","Mon, 28 Apr 2025 23:59:00 GMT","Mon, 28 Apr 2025 23:59:00 GMT","Mon, 28 Apr 2025 23:59:00 GMT",...,"Mon, 28 Apr 2025 23:59:00 GMT","Mon, 28 Apr 2025 23:59:00 GMT","Mon, 28 Apr 2025 23:59:00 GMT","Mon, 28 Apr 2025 23:59:00 GMT","Mon, 28 Apr 2025 23:59:00 GMT","Mon, 28 Apr 2025 23:59:00 GMT","Mon, 28 Apr 2025 23:59:00 GMT","Mon, 28 Apr 2025 23:59:00 GMT","Mon, 28 Apr 2025 23:59:00 GMT","Mon, 28 Apr 2025 23:59:00 GMT"
inverseRate,0.640398,0.721515,1.207409,0.137062,1.136502,1.334476,0.1289,0.000059,0.011748,0.00698,...,0.011627,0.008287,0.362031,0.370366,0.558654,0.009518,0.004081,0.035746,0.000024,0.000077

# working with SQL

In [5]:
 !pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 60.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py) ... done
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp311-cp311-linux_x86_64.whl size=247951 sha256=69d6e2f7bbadbab3fb0e996d45de68ce4975c502b61e9e3ec989a9df369c9414
  Stored in directory: /root/.cache/pip/wheels/17/cd/ed/2d49e9bac69cf09382e4c7cc20a2511202b48324b87db26019
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [14]:
import mysql.connector

In [15]:
mysql.connector.connect(
    host='localhost',user='root',password='',database='world')

InterfaceError: 2003: Can't connect to MySQL server on 'localhost:3306' (111 Connection refused)

In [16]:

import mysql.connector
cnx = mysql.connector.connect(
    host='LOCALHOST',  # Connect through the proxy
    user='ROOT',
    password='',
    database='WORLD'
)

InterfaceError: 2003: Can't connect to MySQL server on 'LOCALHOST:3306' (111 Connection refused)